<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="{{ profilBilde }}" style="width: 10%">
    <h1>Heisann {{ brukernavn }}!</h1>
    <h3>{{ rolle }}</h3>
    <form action="navLogin" method="post">
        <button type="submit">Logg ut</button>
    </form>

    <h3>Problem?</h3>
    <form action="publiserSak" method="post">
        <input name="navn" placeholder="Navn" title="{{ brukernavn }}">
        <input name="problem" placeholder="problem">
        <input name="klasse" placeholder="Klasse">
        <input type="number", max="5", min="0" name="prioritet" placeholder="Prioritet">
        <button type="submit">Publiser</button>
    </form>
    <p>{{ saker }}</p>
</body>
</html>